<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- This method uses two way binding instead of a local reference. Which isn't necessary -->
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" /> -->

        <!-- Local Reference '#var' Used anywhere in template. Can be passed to .ts. see button -->
        <input type="text" class="form-control" #serverNameInput />

        <label>Server Content</label>
        <!-- This method uses two way binding instead of a local reference. Which isn't necessary -->
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent" /> -->

        <!-- Instead of passing this local reference through a function, cockpit.ts is grabbing -->
        <!--    the information using @ViewChild -->
        <input type="text" class="form-control" #serverContentInput />

        <br />

        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">
            Add Server
        </button>
        <button
            class="btn btn-primary"
            (click)="onAddBlueprint(serverNameInput)"
        >
            Add Server Blueprint
        </button>
    </div>
</div>
